$main-bg-color: rgb(220,220,220);
$light-bg-color: rgb(235,235,235);
$dark-bg-color: rgb(150, 150, 150);

$modal-bg-color: rgba(0,0,0,0.85);

$fb-blue: rgb(40, 71, 204);
$fb-light-blue: rgb(44, 127, 224);

$text-dark-grey: rgb(82, 82, 82);
