<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'content':'url('+post.creator.picture+')'}" class="post-avatar"></div>
    <mat-card-title>{{post.creator.name}}</mat-card-title>
    <mat-card-subtitle>{{post.dateDiff}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="post.showContent"></p>
    <div class="post-media" *ngIf="post.media && post.media.type">
      <post-image *ngIf="post.media.type === 'image'" [link]="post.media.link"></post-image>
      <post-video *ngIf="post.media.type === 'video'" [link]="post.media.link"></post-video>
    </div>
  </mat-card-content>
  <div class="post-info">
    <p class='likes' *ngIf='post.likes'>
      <i class="fas fa-thumbs-up like-icon"></i> {{post.likes}}
    </p>
    <p class='comments' *ngIf='post.comments && post.comments.length' (click)="showComments = !showComments">{{post.comments.length}} Comment{{post.comments.length>1? 's':''}}</p>
  </div>
  <mat-divider></mat-divider>
  <post-buttons (toggleComments)="onToggleComments($event)" (likePost)="onLikePost()"></post-buttons>
  <mat-accordion *ngIf='post.comments && post.comments.length'>
    <mat-divider *ngIf="showComments"></mat-divider>
    <mat-expansion-panel class='mat-elevation-z0' [expanded]='showComments'>
      <comment *ngFor='let comment of post.comments' [comment]='comment'></comment>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>
